@import 'bulma/bulma'
@import 'animate/animate'

.hero-content
  padding 120px 0 80px
  background #f5f7fa

.logo
  height 200px
  width auto

.columns
  width 90%
  margin 0 auto

.url
  word-wrap break-word
  word-break break-word

.column
  padding 20px 10px

.card
  width 95%

  p.title
    margin 0

.tag
  margin 0 5px 5px 0

footer
  text-align center
  margin 40px 0 0 0
